html,body {
	height: 100%;
	width: 100%;
	margin:0 !important;
	padding: 0 !important;
	background-color: #34495E;
  color:#fff !important;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
}
.kontener {
	height: 100%;
	width: 100% !important;
	margin:0 !important;
	padding: 0 !important;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
	letter-spacing: -1px !important;
}

.Element {
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	margin:0 !important;
	padding: 0 !important;
}
.first {
	background-color: #EB6B52;
}
.second {
	background-color: #607880;
}
.third {
	background-color: #2ECC71;
}
.fourth {
	background-color: #34495E;
}
.nav {
	background-color: #ECF0F1;
	font-size: 2.2em;
}
.nav a {
	color: #34495E;
}
a:hover {
  text-decoration: none !important;
}
.boxText img {
	margin:15px 0;
}
.boxText {
	position: absolute;
	top:30%;
	bottom: 35px;
	left: 35px;
	right: 35px;
	width: auto;
	height: auto;
	color: #fff;
}
.boxText h1 {
	font-size: 50px;
	font-size: 3.5vw;
}
.boxText h3 {
	font-size: 25px;
	font-size: 1.75vw;
}
.header {
	padding-top: 66px;
}
.lastHeader {
  padding-top: 10px;
  padding-bottom: 5px;
}
.header h3 {
	font-size: 40px;
}
.fa-certificate {
	font-size: 25px !important;
	height: 33px;
	vertical-align: middle;
	color: #F0F3BD;
}
article {
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	font-size: 28px;
}
.boxArticle {
	margin: 0 auto;
	max-width:600px; 
}
.btn {
	width:80% !important;
	margin: 60px auto !important;
	background-color: #EB6B52 !important;
	color: #fff !important;
}
/* Bounce To Bottom */
.btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2ECC71;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn:hover, .btn:focus, .btn:active {
  color: white;
}
.btn:hover:before, .btn:focus:before, .btn:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.portfolioGallery {
  min-height: 750px;
	margin:100px 50px 0 50px;
}
.thumbnail {
	background-color: transparent !important;
	border: none !important;
	width: 400px !important;
	margin:0 auto;
}
.copyright {
  color:#fff;
  opacity: 0.5;
	text-align: center;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0px;
  height: 50px !important;
  bottom: 0;
}
.htmlMailing,.bodyMailing {
	background-color: #05668D !important;
}
.wrapMailing {
	width:800px;
	margin:100px auto;
	text-align: center;
}
.mailingImage {
	margin-bottom: 50px;
}
/* MEDIA QUERIES */

@media (max-width: 760px){ 
	.boxText h1 {
		font-size: 30px;
	}
	.boxText h3 {
		font-size: 15px;
	}
	article {
		font-size: 4vw;
	}
	}
@media (max-width: 400px){ 
	article {
		font-size: 6vw;
	}
  .header h3 {
    font-size: 8vw !important;
  }
  .fa-certificate {
    font-size: 8.5vw !important;
  }
}
@media (max-width: 547px){ 
	.thumbnail {
		width: 61vw !important;
	}
  .portfolioGallery {
    height: 315vw !important;
  }
  #formularz textarea,
  #formularz input {
    width: 70vw !important;
  }
}
@media (max-width: 1201px){ 
  .portfolioGallery {
    height: 1000px;
  }
}
@media (max-width: 992px){ 
  .portfolioGallery {
    height: 2000px;
  }
}
/* formularz */

#formularz {
  height: 500px;
  margin:0 auto;
  text-align: center;
    padding-top: 50px; 
        margin-top:20px;
}

#formularz textarea,
#formularz input {
  display: block;
  margin: 0 auto;
  padding:5px;
  border-radius:3px;
  border:1px solid #ccc;
  margin-bottom:25px;
  width:400px;
}
#formularz textarea {
  height: 220px !important;
}

#formularz input#submit {
  width:255px;
  cursor:pointer;
  margin-bottom:0px;
  color: #34495E;
}
input#submit:hover {
  color: #fff !important;
}

#formularz p.copy {
  color:#555555;
  margin-bottom:0px;
  font-size:12px;
  text-align: center; 
}

#formularz p.copy a {
  color:#555555;
  text-decoration: none;
  font-weight:bold;
}  
/*watch this live*/
.watchLive {
  height: 500px;
  color:#000;
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  width: 80%;
  margin-bottom: 20px;
  text-align: left;
  padding-top: 8px;
  font-family: 'Cutive Mono' !important;
  font-size: 20px;
}
#liveViewMessage {
  margin:0;
  margin-bottom: -15px;
}
pre {
  padding: 0;
  margin: 0;
  border: none !important;
  background-color: #fff !important;
  font-family: 'Cutive Mono' !important;
  font-size: 20px !important;
}
.overflowText {
  overflow-y:scroll;
  overflow-x:hidden;
  height: 490px;
}
.watchLive:before, .watchLive:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.watchLive:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.watchLive:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}
#date {
  text-align: right;
}
.signature {
  text-align: right;
  padding-right: 15px;
}
#signatureName {
  font-family: 'Herr Von Muellerhoff', cursive !important;
  font-size: 45px !important;
}