<!DOCTYPE html>
<html ng-app="MyApp">

<head>
  <title>Tomasz Rudowicz - Aspiring student</title>
  <meta name="description" content="Tomasz Rudowicz - Portfolio of aspiring student from Wrocław. I'm interested in front-end and web technologies. I am in love with programming and coding.">
  <meta name="keywords" content="HTML,CSS,Wrocław,Frontend,JavaScript,Angular,Bootstrap,Student,pwr,politechnika,wrocławska">
  <meta name="authour" content="Tomasz Rudowicz">
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js" data-semver="2.0.0" data-require="angularjs@*"></script>
  <script src="js/controller.js"></script>

  <!-- fonty -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff|Cutive+Mono&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="container kontener">

  <!-- menu-->
  <div class="nav nav-pills navbar-fixed-top">
    <li><a href="#"><i class="fa fa-language"></i></a></li>
    <li><a href="https://github.com/tomaaszq"><i class="fa fa-github-square"></i></a></li>
    <li><a href="https://pl.linkedin.com/in/tomasz-rudowicz-642094108"><i class="fa fa-linkedin-square"></i></a></li>
  </div>

  <!-- Pierwszy slajd-->
  <div class="Element first text-center">
    <div class="boxText">
     <h1><strong>TOMASZ RUDOWICZ</strong></h1>
     <img src="assets/images/img1.JPG" class="img-circle" width="170px" alt="Tomasz Rudowicz">
     <h3>ASPIRING STUDENT</h3>
   </div>
 </div>

 <!-- Drugi slajd-->
 <div class="Element second">
  <div class="header text-center">
    <h3>
      <i class="fa fa-certificate"></i>
      ABOUT ME
      <i class="fa fa-certificate"></i>
    </h3>
    <div class="boxArticle">
      <article>
        My name is Tomasz and I'm from Wrocław/Poland.
        I am 20 years old and I'm studying at Wrocław University of Technology. I am interested in front-end and web technologies.
        I'm an autodidact in all languages which i know, all the time i'm trying to learn more.
      </article>
      <a href="http://tomaaszq.github.io/"><button type="button" class="btn btn-primary btn-lg btn-block">More info</button></a>
    </div>
  </div>
</div>
<!-- Trzeci slajd-->
<div class="third">
  <div class="header text-center">
    <h3>
      <i class="fa fa-certificate"></i>
      PORTFOLIO
      <i class="fa fa-certificate"></i>
    </h3>
    <div class="portfolioGallery contener">
      <div class="col-lg-4 col-md-6 col-xs-12 thumb">
        <figure class="snip1373 thumbnail">
          <img src="assets/images/hbc.png" alt="www.hbc.pl" />
          <figcaption>
            <h2>HBC</h2>
            <p><span class="orangeCaption">HTML5</span> - build the skeleton of page and subpages<br/>
             <span class="orangeCaption">CSS3</span> - stylization about 90% of all<br/>
             <span class="orangeCaption">JS</span> - implementation JS scripts and editing them to work fine<br/>
             <span class="orangeCaption">Wordpress</span> - implementation and editing plugins, editing php code<br/>
             <span class="orangeCaption">RWD</span> - using media-queries and bootstrap to do everything responsive</p>
           </figcaption>
           <a href="http://www.hbc.pl/"></a>
         </figure>
       </div>
       <div class="col-lg-4 col-md-6 col-xs-12 thumb">
        <figure class="snip1373 thumbnail">
          <img src="assets/images/titanic.png" alt="Save the Titanic!" />
          <figcaption>
            <h2>Save the Titanic!</h2>
            <p><span class="orangeCaption">HTML5</span> - build the skeleton of page<br/>
             <span class="orangeCaption">CSS3</span> - stylization<br/>
             <span class="orangeCaption">JS</span> - writing the engine of the game<br/>
             <span class="orangeCaption">RWD</span> - using media-queries and bootstrap to do everything responsive</p>            </figcaption>
             <a href="http://www.tomasz.rudowi.cz/titanic"></a>
           </figure>
         </div>
         <div class="col-lg-4 col-md-6 col-xs-12 thumb">
          <figure class="snip1373 thumbnail">
            <img src="assets/images/converter.png" alt="sample67" />
            <figcaption>
              <h2>Unit converter</h2>
              <p><span class="orangeCaption">HTML5</span> - build the skeleton of page<br/>
               <span class="orangeCaption">CSS3</span> - stylization<br/>
               <span class="orangeCaption">AngularJS</span> - writing the engine of converter</p>
               <a href="http://www.tomasz.rudowi.cz/converter"></a>
             </figure>
           </div>
           <div class="col-lg-4 col-md-6 col-xs-12 thumb">
            <figure class="snip1373 thumbnail">
              <img src="assets/images/githubviewer.png" alt="sample67" />
              <figcaption>
                <h2>Github viewer</h2>
                <p><span class="orangeCaption">HTML5</span> - build the skeleton of page<br/>
                 <span class="orangeCaption">CSS3</span> - stylization<br/>
                 <span class="orangeCaption">AngularJS</span> - writing engine connected with Github api<br/>
                 <span class="orangeCaption">RWD</span> - using media-queries and bootstrap to do everything responsive</p>            </figcaption>
                 <a href="http://www.tomasz.rudowi.cz/githubviewer"></a>
               </figure>
             </div>
             <div class="col-lg-4 col-md-6 col-xs-12 thumb">
              <figure class="snip1373 thumbnail">
                <img src="assets/images/aboutme.png" alt="sample67" />
                <figcaption>
                  <h2>Site about me</h2>
                  <p><span class="orangeCaption">HTML5</span> - build the skeleton of page<br/>
                   <span class="orangeCaption">CSS3</span> - stylization<br/>
                   <span class="orangeCaption">AngularJS</span> - table with my marks from school<br/>
                   <span class="orangeCaption">RWD</span> - using media-queries and bootstrap to do everything responsive</p>            </figcaption>
                   <a href="http://tomaaszq.github.io"></a>
                 </figure>
               </div>
               <div class="col-lg-4 col-md-6 col-xs-12 thumb">
                <figure class="snip1373 thumbnail">
                  <img src="assets/images/mailing.png" alt="sample67" />
                  <figcaption>
                    <h2>Mailing work</h2>
                    <p>no one likes doing this, everything is in html file. Working with different browsers and mail applications.
                     </p>            </figcaption>
                     <a href="http://www.tomasz.rudowi.cz/mailing"></a>
                   </figure>
                 </div>

               </div>
             </div>
           </div>
           <div class="header lastHeader text-center">
            <h3>
              <i class="fa fa-certificate"></i>
              SEND ME A MESSAGE
              <i class="fa fa-certificate"></i>
            </h3>
          </div>
          <div class="container" ng-controller="ContactCtrl">
            <div id="formularz" class="col-md-6 col-xs-12">
              <form method="post" action="kontakt.php">
                <input type="text" name="name" placeholder="Your name" class="form-control" ng-model="nameng">

                <input type="email" name="email" placeholder="Your email" class="form-control" ng-model="mailng">

                <textarea name="message" placeholder="Your message" class="form-control" ng-model="textng"></textarea>

                <input type="submit" id="submit" name="submit" value="Ok!">
              </form>
            </div>
            <p class="text-center" id="liveViewMessage">Live view</p>
            <div class="watchLive col-md-6 col-xs-12">

              <div class="overflowText">
                <h3>Dear Tomasz,</h3>
                <p><pre>{{textng}}</pre></p><br/><br/>
                <p class="signature">Regards, {{mailng}}</p>
                <p class="signature" id="signatureName">{{nameng}}</p>
              </div>
            </div>
          </div>
          <footer>
            <div class="copyright">
              Copyright 2015 Tomasz Rudowicz
            </div>
          </footer>
        </div>
      </body>

      </html>

