<!DOCTYPE html>
<html ng-app="MyApp">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js" data-semver="2.0.0" data-require="angularjs@*"></script>
  <script src="js/controller.js"></script>

  <!-- fonty -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff|Cutive+Mono&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="container kontener">

  <!-- menu-->
  <div class="nav nav-pills navbar-fixed-top">
    <li><a href="#"><i class="fa fa-language"></i></a></li>
    <li><a href="https://github.com/tomaaszq"><i class="fa fa-github-square"></i></a></li>
    <li><a href="https://pl.linkedin.com/in/tomasz-rudowicz-642094108"><i class="fa fa-linkedin-square"></i></a></li>
  </div>

  <!-- Pierwszy slajd-->
  <div class="Element first text-center">
    <div class="boxText">
     <h1>TOMASZ RUDOWICZ</h1>
     <img src="assets/images/img1.JPG" class="img-circle" width="170px" alt="Tomasz Rudowicz">
     <h3>ASPIRING STUDENT</h3>
   </div>
 </div>

 <!-- Drugi slajd-->
 <div class="Element second">
  <div class="header text-center">
    <h3>
      <i class="fa fa-certificate"></i>
      ABOUT ME
      <i class="fa fa-certificate"></i>
    </h3>
    <div class="boxArticle">
      <article>
        My name is Tomasz and I'm from Wrocław/Poland.
        I am 20 years old and I'm studying at Wrocław University of Technology. I am interested in front-end and web technologies.
        I'm an autodidact in all languages which i know, all the time i'm trying to learn more. Actually I'm looking for student practice or
        work as Junior Front-end Developer.
      </article>
      <a href="http://tomaaszq.github.io/"><button type="button" class="btn btn-primary btn-lg btn-block">More info</button></a>
    </div>
  </div>
</div>
<!-- Trzeci slajd-->
<div class="third">
  <div class="header text-center">
    <h3>
      <i class="fa fa-certificate"></i>
      PORTFOLIO
      <i class="fa fa-certificate"></i>
    </h3>
    <div class="portfolioGallery contener">

      <div class="col-lg-4 col-md-6 col-xs-12 thumb">
        <a class="thumbnail" href="http://tomasz.rudowi.cz/githubviewer">
          <img class="img-responsive" src="assets/images/githubviewer.png" alt="GitHub viewer!">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 thumb">
        <a class="thumbnail" href="http://tomasz.rudowi.cz/titanic">
          <img class="img-responsive" src="assets/images/titanic.png" alt="Save the Titanic - Game">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 thumb">
        <a class="thumbnail" href="http://tomasz.rudowi.cz/converter">
          <img class="img-responsive" src="assets/images/converter.png" alt="Units converter">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 thumb">
        <a class="thumbnail" href="http://serwer1580215.home.pl/domains/hbc/">
          <img class="img-responsive" src="assets/images/hbc.png" alt="HBC">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 thumb">
        <a class="thumbnail" href="http://tomaaszq.github.io/">
          <img class="img-responsive" src="assets/images/aboutme.png" alt="Site about me">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 thumb">
        <a class="thumbnail" href="mailing.html">
          <img class="img-responsive" src="assets/images/mailing.png" alt="Mailing">
        </a>
      </div>

    </div>
  </div>
</div>
<div class="header lastHeader text-center">
  <h3>
      <i class="fa fa-certificate"></i>
      SEND ME A MESSAGE
      <i class="fa fa-certificate"></i>
    </h3>
</div>
<div class="container" ng-controller="ContactCtrl">
<div id="formularz" class="col-md-6 col-xs-12">
    <form method="post" action="kontakt.php">
      <input type="text" name="name" placeholder="Your name" class="form-control" ng-model="nameng">

      <input type="email" name="email" placeholder="Your email" class="form-control" ng-model="mailng">

      <textarea name="message" placeholder="Your message" class="form-control" ng-model="textng"></textarea>

      <input type="submit" id="submit" name="submit" value="Ok!">
    </form>
  </div>
  <p class="text-center" id="liveViewMessage">Live view</p>
  <div class="watchLive col-md-6 col-xs-12">

    <div class="overflowText">
    <h3>Dear Tomasz,</h3>
  <p><pre>{{textng}}</pre></p><br/><br/>
  <p class="signature">Regards, {{mailng}}</p>
  <p class="signature" id="signatureName">{{nameng}}</p>
</div>
  </div>
</div>
<footer>
  <div class="copyright">
    Copyright 2015 Tomasz Rudowicz
  </div>
</footer>
</div>
</body>

</html>

